.list1{
    position: relative;
    margin-left: 50rem;
    margin-top: -40rem;
    
}
.list2{
    position: relative;
    margin-left: 50rem;
    margin-top: 0rem;
    
}
.list3{
    position: relative;
    margin-left: 50rem;
    margin-top: 0rem;
    
}

.list3 button {
    background-color: red;
     border-radius: 6px;
     border: 2px solid #000000;
   }
.list2 button {
    background-color: red;
     border-radius: 6px;
     border: 2px solid #000000;
   }
.list1 button {
    background-color: red;
     border-radius: 6px;
     border: 2px solid #000000;
   }
