.list1{
    position: relative;
    margin-left: 50rem;
    margin-top: -40rem;
    
}
.list2{
    position: relative;
    margin-left: 50rem;
    margin-top: 0rem;
    
}
.list3{
    position: relative;
    margin-left: 50rem;
    margin-top: 0rem;
    
}
